.green-line {
  margin-left: 0 !important;
}

.green-line div {
  border-bottom: 8px solid #2ecc71;
  width: 4rem;
  margin-left: 0 !important;
}

.carousel-indicators li {
  background-color: #2ecc71 !important;
}

.carousel-indicators li .active {
  background-color: #23cc6b !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(46,204,113)' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(46,204,113)' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.right.carousel-control-next:hover {
  /* background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(rgba(46, 204, 113, 0.5)),
    to(rgba(46, 204, 113, 0.0001))
  ); */
}

.carousel-center {
  font-size: 0.8em;
  padding: 1rem;
}

.carousel-center p:nth-of-type(1) {
  padding-top: 1rem;
}

.carousel-center-icons {
  text-align: center;
  color: rgb(46, 204, 113);
  /* padding: 1rem; */
}
.fab.fa-linkedin,
.fab.fa-github-square {
  padding: 0.2em;
}

@media (min-width: 768px) {
  .carousel-center {
    display: flex;

    /* flex-direction: row;
    width: 50%; */
  }
  a.carousel-control-prev,
  a.carousel-control-next {
    width: 10%;
  }
  .carousel-center p {
    font-size: 1.5em;
  }
  .carousel-center div {
    margin: 0.5em;
  }

  .carousel-center-icons {
    text-align: start;
    padding-left: 0 !important;
  }
  .fab.fa-linkedin,
  .fab.fa-github-square {
    padding-left: 0;
    padding-right: 0.4em;
    font-size: 2.8em;
  }
}
