/* .green-line {
  margin-left: 6em !important;
} */

.green-line div {
  border-bottom: 8px solid #2ecc71;
  width: 4rem;
  margin-left: 0 !important;
}

.carousel-indicators li {
  background-color: #2ecc71 !important;
}

.carousel-indicators li .active {
  background-color: #23cc6b !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(46,204,113)' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(46,204,113)' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-center {
  font-size: 0.8em;
  padding: 1rem;
}

.carousel-center p:nth-of-type(1) {
  padding-top: 1rem;
}

.carousel-center-icons {
  text-align: center;
  color: rgb(46, 204, 113);
}
.fab.fa-linkedin,
.fab.fa-github-square {
  padding: 0.2em;
}

.carousel-center.hobbies {
  display: flex;
  flex-direction: column;
}

.hobbies-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2em;
}

.hobbies-list-item {
  text-align: center;
  width: 50%;
  padding-bottom: 1em;
}

.hobbies-list-item img {
  width: 6em;
  height: 6em;
}

.link {
  width: 100%;
  text-align: center;
}
.link div {
  border: 1px solid rgba(54, 51, 51, 0.5);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.link .link-resume {
  font-size: 1.2em;
  text-decoration: none !important;
  color: rgba(54, 51, 51, 0.5);
}
.link .link-resume:hover {
  font-size: 1.2em;
  text-decoration: none !important;
  color: rgb(46, 204, 113);
}

@media (min-width: 768px) {
  .carousel-center {
    display: flex;
  }
  a.carousel-control-prev,
  a.carousel-control-next {
    width: 10%;
  }
  .carousel-center p {
    /* font-size: 1.2em; */
  }
  .carousel-center div {
    margin: 0.5em;
  }
  /* .green-line {
    padding-left: 7.5px !important;
  } */

  .carousel-center-icons {
    text-align: start;
    padding-left: 0 !important;
  }
  .fab.fa-linkedin,
  .fab.fa-github-square {
    padding-left: 0;
    padding-right: 0.4em;
    font-size: 2.8em;
  }

  .hobbies-list {
    display: flex;
    justify-content: space-between;
  }

  .hobbies-list-item img {
    width: 10em;
    height: 10em;
  }
  .hobbies-list-item {
    width: 22.5%;
  }
  .hobbies-list-item div {
    font-size: 1.1em;
  }
}
